<!DOCTYPE html>
<html style="width: 100%; height: 100%;">
<head>
<title>ГЛАВНАЯ</title>
<style>
    a {
        text-decoration: none;
    }

    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .input {
        margin: 25px auto;
        width: 350px;
    }
    .label-password {
        display: block;
        margin: 0 0 10px 10px;
    }
    .button {
        height: 50px;
        width: 330px;
        background-color: rgb(190, 190, 190);
        padding: 0 10px;
        border-radius: 18px;
        border-style: none;
        color: white;
        text-decoration: none;
        font-size: 16px;
        color: black;
        outline: none;
    }

    .topnav {
        overflow: hidden;
        background-color: #333;
        min-height: 48px;
    }

    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .topnav a.active {
        background-color: #04AA6D;
        color: white;
    }

    ul h2, ul h3, ul {
        margin: 0;
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&libraries=places" async defer></script>
</head>
<body style="width: 100%; height: 100%; margin: 0; display: flex; flex-direction: column">
<div class="topnav">
    <a class="active" href="/dispetcheri">Гланая</a>
    <a href="/dispetcheri/calculate">Новая поездка</a>
    <a href="/dispetcheri/addVoditel">Добавить водителя</a>
    <a href="/dispetcheri/deleteVoditel">Удалить водителя</a>
</div>
<div style="width: 100%; flex-grow: 1; display: flex">
    <div style="width: 100%; height: 100%; background-color: gainsboro; flex-grow: 1;">
        <ul style="list-style-type: none; padding: 0; padding-top: 10px;">
            {{#each poezdki}}
                <li style="border-bottom: 1px solid; border-top: 1px solid; padding: 8px;"><a href="/dispetcheri/poezdka/{{this.id}}">
                    <h2>{{this.from_place}}</h2>
                    <h3>{{this.to_place}}</h3>
                </a></li>
            {{/each}}
        </ul>
    </div>
</div>
<script>
</script>
</body>
</html>